/Chat_Service/Client_Java/Chat_Client/nbproject/private/
/Chat_Service/Client_Java/ChatClient/nbproject/private/
/Chat_Service/Client_Java/ChatClient/dist/
/Chat_Service/servers/build/
/Chat_Service/Client_Java/ChatClient/build/
/Chat_Service/Client_Java/ChatClientJava/nbproject/private/
/Chat_Service/Client_Java/ChatClientJava/build/
/Chat_Service/Client_Java/ChatClientJava/dist/
/Chat_Service/Client_Java/JavaFXSwingApplication1/nbproject/private/
/Chat_Service/Client_Java/JavaChatClient/nbproject/private/
/Chat_Service/Client_Java/JavaChatClient/build/